body {
    /* font-family: 'Catamaran', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

#footer-custom {
    font-family: 'Catamaran', sans-serif;
}

.titre-logo {
    text-decoration: none;
}

.titre-logo:hover {
    text-decoration: none;
}

.transparent {
    background: rgba(255, 255, 255, 0.5);
}