{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container text-light">
    <p class="lead pt-2" style="text-align: center;">
        Discover our most beautiful cities ! Each day a different image or
        photograph of our fascinating cities is featured, along with a
        brief explanation written by a professional photographer.
    </p>

    <div class="row pt-1 mb-2">
        <div class="col">
          <h5 style="text-align: center;">{{ date_today }}</h5>
        </div>
    </div>
</div>


<div class="container mb-4">
    <img src="{{ url_for('static', filename='images/upload/' + picture.picture) }}" class="img-fluid" alt="Responsive image" />
</div>

<div class="container text-light">
    <div class="row">
        <div class="col">
            <h4 class="font-weight-bold" style="text-align: center;">{{ picture.picture_title }}</h4>
            <h5 style="text-align: center;">
                Image Credit & Copyright: <a href="{{ picture.website }}">{{ picture.firstname }} {{ picture.lastname }}</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead pt-1" style="text-align: justify; font-size: 1.2em;">
                {{ picture.description }}
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col pt-3" style="text-align: center;">
            <a href="{{ url_for('submit') }}">
                <button type="button" class="btn btn-success btn-lg font-weight-bold">
                    Click here to submit your picture !
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
