<!DOCTYPE html>
<html lang="en" style="">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="icon" href="{{ url_for('static', filename='images/logo2.ico') }}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}" />

    <link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %} - Urban Picture of the Day</title>
</head>

<body style="background-image: url('static/images/background_80.jpg');    background-position: center; ">

    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid pt-4 pb-2 mb-1"
                    style="background:transparent; text-align: center;">
                    <div class="row" style="text-align: center; margin-bottom: -20px;">
                        <div class="col">
                            <a href="{{ url_for('home') }}" class="titre-logo text-light">
                                <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 10.2em;"
                                    alt="" class="mb-0 pb-0">UPOD
                                </h1>
                            </a>
                        </div>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <h3 class="mt-0 pt-0 font-weight-bold" style="font-family: 'Roboto Slab', serif;">Urban
                                Picture of the Day</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    {% block footer %}
    <footer id="footer-custom" style="text-align: center; bottom: 0;">
        <p style="color: #646464;">
            &copy; Copyright 2019-2020<br />
            All Rights Reserved by
            <a href="https://github.com/Kelian98"> Kelian98</a>
        </p>
    </footer>
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>