{% extends 'layout.html' %}

{% block title %}Submit{% endblock %}

{% block content %}

<div class="container text-light">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid pt-2 pb-3 mb-1" style="background:transparent; text-align: center;">
                <h4 class="mt-2" style="text-align: center;">
                    Send your picture to NPOD !
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container container-fluid mb-3 text-light" style="width: 40%;">
    <div class="row" style="text-align: justify;">
        <div class="col-sm">
            <p class="lead">DISCLAIMER : I release this image into the public domain with the understanding will
                credit me as the creator. I'm the only owner of this image and all refers to my copyright. I authorize
                UPOD to eventually publish my image on this website and our social page on <a href="#">Facebook</a>.

                UPOD is a NON-PROFIT site that is self-sustaining with the help of volunteers around the world.</p>
        </div>
    </div>
</div>

<div class="container container-fluid text-light" style="width: 40%;">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf }}
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="">
                </div>
                <div class="col">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="ex: myname@example.com">
            <small id="emailhelp" class="form-text text-muted">We'll not share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" name="website"
                placeholder="ex: http://www.mywebsite.com">
        </div>
        <div class="form-group">
            <label for="picture_title">Picture title</label>
            <input type="text" class="form-control" id="picture_title" name="picture_title" placeholder="">
        </div>
        <div class="form-group">
            <label for="description">Description and technical data</label>
            <textarea class="form-control" rows="5" id="description" name="description"
                placeholder="Location, equipment, techniques..."></textarea>
            <small id="descriptionhelp" class="form-text text-muted">Maximum: 1000 characters</small>
        </div>

        <div class="form-group">
            <div class="row mt-2">
                <div class="col" style="text-align: center;">
                    <label for="image" class="text-light">Import your picture</label><br>
                    {{ form.photo }}
                    <small id="imagehelp" class="form-text text-muted">Max. size: 20MB</small>
                </div>
            </div>
            <div class="row">
                <div class="col mt-4" style="text-align: center;">
                    <div class="form-check" style="text-align: center;">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label text-light" for="exampleCheck1">I agree with <a href="#">Terms
                                and
                                Conditions</a></label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col" style="text-align: center;">
                    <button type="submit" class="btn btn-lg btn-success mt-3 font-weight-bold"
                        style="width: 50%;">Submit your
                        image !</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}